{{>layout/header}}

<h1>스프링부트 게시판</h1>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
      <!-- userName 이라는 list 순회 -->
      {{#userName}}
        <!-- userName이 있다면 userName 노출. 머스테치는 if문이 없기때문에 항상 최종값을 넘겨줘야됨.-->
        Logged in as : <span id="user">{{userName}}</span>
        <!-- 스프링 시큐리티에서 기본 제공하는 URL. (로그아웃 컨트롤러 따로 만들필요 없음)-->
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
      {{/userName}}
      <!-- userName이 없다면 로그인 버튼 노출.-->
      {{^userName}}
        <!-- 스프링 시큐리티 기본 제공 로그인 URL -->
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google
          Login</a>

        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver
          Login</a>
      {{/userName}}
    </div>
  </div>
  <br>
  <!-- 목록 출력 영역-->
  <table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
      <th>게시글번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <!-- posts 라는 list 순회 -->
    {{#posts}}
      <tr>
        <td>{{id}}</td>
        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
        <td>{{author}}</td>
        <td>{{modifiedDate}}</td>
      </tr>
    {{/posts}}
    </tbody>
  </table>
</div>

{{>layout/footer}}
